.application-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


.overlay-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

.quickAction-container {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
  
}

.component-menu {
    width: 200px;
    height: 100%;
    background-color: rgb(185, 185, 185);


    overflow-y: scroll;   

    border-radius: 10px;
}

.quickAction-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 300px;
    height: 50px;
    background-color: rgb(185, 185, 185);
  

    border-radius: 10px;
}

.horizontal-content {
    display: flex;         
    flex-direction: row;
    gap: 10px;              
}