.home-container {
  width: 100%;
  display: flex;
  background-color: red;
  align-items: center;
  flex-direction: column;
}

.hero {
  background-color: green;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 4rem 0;
  width: 60%;
}

